<div id="slogan">An easier method to get what you want.</div>


    	
<div class="row text-center">
	<div class="col-md-4 col-xs-4">
		<a href="/searchbytag">		
			<i class="fa fa-file-text-o" style="font-size:150px"></i>
			<br>
			<div>Search By Text</div>
		</a>
	</div>

	<div class="col-md-4 col-xs-4">
		<a href="/upload">
			<i class="fa fa-camera" style="font-size:150px"></i>
			<br>
			<div>Search By Image</div>
		</a>
	</div>

	<div class="col-md-4 col-xs-4">
		<a href="/allimg">
			<i class="fa fa-plus-circle" style="font-size:150px"></i>
			<br>
			<div>Add Tag</div>
		</a>
	</div>

</div>
	

<!--gaga
<a href="/searchbytag">Search by Text</a>
<a href="/upload">Search by Image</a>
-->	




